@model Student_management_system.Models.Batch


<h2>Details</h2>
<form method="get">
    <div>
      @Html.DisplayForModel()
    </div>
    <div>@Html.ActionLink("Back to index","index")</div>
</form>

